


.input-text {
    color : red
}

button:hover {
    background-color:cornflowerblue;
}

.main {
    margin-top: 10px;
    border: solid 1px ;
    border-radius: 10px;
}

.main.ul {
    border: solid 1px ;
}