


.input-text {
    color : red
}

button:hover {
    background-color:cornflowerblue;
}

.main {
    margin-top: 10px;
    border: solid 1px ;
    border-radius: 10px;
    list-style: none;
}

.main li {
    border-radius: 5px;
    border: solid 1px ;
    margin: 3px;
    padding: 2px;
    
}